<html>
    <head>
    <h1>predication on type of pumpkin seeds </h1>
   </head>
   <body>
    <form action="/pumpkin" method="POST">
    Area:
    <input type="text" name="Area"><br> <br>
    Perimeter:
    <input type="text" name="Perimeter"><br> <br>
    Major_Axis_Length:
    <input type="text" name="Major_Axis_Length"><br> <br>
    Minor_Axis_Length:
    <input type="text" name="Minor_Axis_Length"><br> <br>
    Convex_Area:
    <input type="text" name="Convex_Area"><br> <br>
    Equiv_Diameter:
    <input type="text" name="Equiv_Diameter"><br> <br>
    Eccentricity:
    <input type="text" name="Eccentricity"><br> <br>
    Solidity:
    <input type="text" name="Solidity"><br> <br>
    Extent:
    <input type="text" name="Extent"><br> <br>
    Roundness:
    <input type="text" name="Roundness"><br> <br>
    Aspect_Ration:
    <input type="text" name="Aspect_Ration"><br> <br>
    Compactness:
    <input type="text" name="Compactness"><br> <br>
    <input type="submit">
    </form>
   </body>
</html>

